/* ContactInfo.css */
.contact-container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  direction: rtl;
  background-color: rgb(255, 255, 255);
  color: #000;
}

h2, h3 {
  margin-bottom: 10px;
}

.info-box {
  border: 2px solid #000;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}

.info-item {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.subtitle {
  font-weight: bold;
  margin: 15px 0 5px;
}
